VITE_PHAROS_RPC_URL=https://atlantic.dplabs-internal.com
VITE_TBT_ADDRESS=0x326b07d3e36c1Aa6213368E5e1AaDa29f2CB4BE5
VITE_INVOICE_MANAGER_ADDRESS=0x5a95783b6f19841E79c4Bb506981310661a4cc7d
VITE_INVOICE_MANAGER_V2_ADDRESS=
